:root {
    --b: beige;
    --p: #eec0b9;
}

::selection {
    background-color: var(--b);
    color: var(--p);
}

html {
    font-size: 62.5%;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--p);
    background-color: var(--b);
}

header {
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

.topnav {
    text-align: center;
}

figure {
    align-items: center;
}

img {
    width: 350px;
    border: 3px solid ;
}

header h1.page-title {
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
}

main {
    width: 96%;
    margin: 3rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.4rem;
    margin-right: -1.4rem;
}

.justify-center {
    justify-content: center;
}

.card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 8rem;    
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--p);
    outline: 2px solid var(--p);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

.code-card .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--b);
    color: #eec0b9;
    border: var(--p);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

footer {
    margin: 15rem;
    text-align: center;
}

@media screen and (min-width:768px) {
    .card-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .card-column:last-child {
        flex-grow: 1;
    }
}

@media screen and (min-width: 992px) {
    header {
        width: 75%;
    }
    .card-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

